.claude/
.gradle
/local.properties
.DS_Store
build
/captures
out/

release.keystore
google-services.json
github.properties
play-service-account.json
iam-key.json
fastlane/report.xml
*.pepk
release.signing
*.aab
*.apk
app/*/release
.kotlin
oneui-design/


# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
.idea/*

# IDEA/Android Studio Ignore exceptions
!.idea/icon.png
!.idea/vcs.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles
!.idea/runConfigurations
!.idea/encodings.xml
!.idea/copyright/
!.idea/dictionaries
!.idea/compiler.xml